//- Site Info
- var siteName = 'Protobase'
- var pageName = 'Home'

//- Branding
- var favIconType = 'image/png'
- var favIconUrl = 'img/cropped-favicon-192x192.png'

//- Meta Info
- var pageDescription = 'Prototype boiler-base'
- var androidNavBG = '#333'
